<div class="col-sm-4 portfolio-item">
    <a href="#{{id}}" class="portfolio-link" data-toggle="modal">
        <div class="caption">
            <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>

                <p>{{name}}</p>
            </div>
        </div>
        <img src="{{thumbnailUrl}}" class="img-responsive center-block" alt="">
    </a>
</div>